<% layout('layout/template')%>

<div class="col-6 offset-3 mb-3">
	<div class="py-4">
		<h1 class="text-mid-dark text-center">My <strong>Collection</strong></h1>
	</div>

	<div class="accordion accordion-flush mb-4">
		<div class="accordion-item bg-light" id="accordionCollection">
			<button
				class="accordion-button collapsed bg-light"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseCollection"
				aria-expanded="false"
				aria-controls="flush-collapseOne"
			>
				<h5 class="text-mid">
					<%if (userElsewheres.length === 1) {%>
					<strong>You have <%=userElsewheres.length%> item</strong>
<%}else{%>
	<strong>You have <%=userElsewheres.length%> items</strong>

	<%}%>
				</h5>
			</button>
		</div>
		<div
			id="collapseCollection"
			class="accordion-collapse collapse row"
			aria-labelledby="flush-headingOne"
			data-bs-parent="#accordionCollection"
		>
			<% userElsewheres.map((elsewhere, index) => { %>
		<div>
				<div class="accordion-body btn btn-light d-flex flex-wrap justify-content-between mt-3">
						<a
							href="/elsewhere/<%=elsewhere._id%>"
							class="text-decoration-none text-mid"
						>
							<p class='mt-2'>
								<strong><%= elsewhere.title%></strong> — <%= elsewhere.location%>
							</p>
						</a>
						<!-- Delete & Edit -->
						<div>
								<a
								class="card-link btn me-3 border border-secondary rounded-3 border-2"
								style="background-color: #e9e9e960"
								href="/elsewhere/<%=elsewhere._id%>/edit"
								>Edit</a
							>
							<form
								class="d-inline"
								action="/elsewhere/<%=elsewhere.id%>?_method=DELETE"
								method="POST"
							>
								<input type='submit' value='Delete' class="btn btn-danger"></input>
							</form>
						</div>
				</div>
		</div>

			<% }) %>
		</div>
	</div>
</div>
