<% layout('layout/template')%>
<div class="py-4">
	<h1 class="text-mid-dark">View <strong>Adventures</strong></h1>
</div>

<div
	id="carouselControl"
	class="carousel carousel-light slide mb-3"
	data-bs-ride="carousel"
>
	<div class="carousel-inner bg-dark carousel-index-height carousel-radius">
		<% elsewhereAtIdxZero.forEach((info, index) => { %>
		<div
			class="carousel-item <%= index === 0 ? 'active' : ''%>"
			data-bs-interval="10000"
		>
			<a
				href="/elsewhere/<%= info.elsewhere._id%>"
				class="d-flex text-decoration-none"
			>
				<div>
					<img
						src="<%= info.image%>"
						class="carousel-index-height"
						alt="images"
					/>
				</div>
				<div class="m-5 text-mid overflow-auto">
					<h3>
						<strong><%= info.elsewhere.title%></strong>
					</h3>
					<h5>
						<strong><%= info.elsewhere.location%></strong>
					</h5>
					<h5><%= info.elsewhere.description%></h5>
				</div>
			</a>
		</div>
		<% }) %>
	</div>

	<% if(elsewhereAtIdxZero.length > 1) {%>
	<a
		class="carousel-control-prev"
		href="#carouselControl"
		role="button"
		data-bs-slide="prev"
		id="prev-arrow"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Prev</span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselControl"
		role="button"
		data-bs-slide="next"
		id="next-arrow"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
	<% } %>
</div>

<!-- Random Adventures -->
<!-- rand1 -->
<div class="d-md-flex justify-content-md-between">
	<div class="mt-4 col-md-4">
		<a href="/elsewhere/<%= randElsewhere1._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere1.image[0].url%>"
						class="card-img-top card-img-top-radius card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere1.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand1Ratings[0].ratingsTotal/rand1Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand1Ratings[0].ratingsTotal/rand1Ratings[0].numRatings%></strong
							>
							(<%=rand1Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere1.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<!-- rand2 -->

	<div class="mt-4 rand-mid col-md-4">
		<a href="/elsewhere/<%= randElsewhere2._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere2.image[0].url%>"
						class="card-img-top card-img-top-radius card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere2.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand2Ratings[0].ratingsTotal/rand2Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand2Ratings[0].ratingsTotal/rand2Ratings[0].numRatings%></strong
							>
							(<%=rand2Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere2.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<!-- rand3 -->
	<div class="mt-4 col-md-4">
		<a href="/elsewhere/<%= randElsewhere3._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere3.image[0].url%>"
						class="card-img-top card-img-top-radius card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere3.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand3Ratings[0].ratingsTotal/rand3Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand3Ratings[0].ratingsTotal/rand3Ratings[0].numRatings%></strong
							>
							(<%=rand3Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere3.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
</div>

<!-- rand4 -->

<div class="d-md-flex justify-content-md-between margin-bottom">
	<div class="mt-4 col-md-4">
		<a href="/elsewhere/<%= randElsewhere4._id%>" class="text-decoration-none">
			<div class="card card-border2 shadow-lg">
				<div class="card-body card-border2 p-0 bg-dark">
					<img
						src="<%= randElsewhere4.image[0].url%>"
						class="card-img card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere4.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand4Ratings[0].ratingsTotal/rand4Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand4Ratings[0].ratingsTotal/rand4Ratings[0].numRatings%></strong
							>
							(<%=rand4Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere4.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<!-- rand5 -->

	<div class="mt-4 rand-mid col-md-4">
		<a href="/elsewhere/<%= randElsewhere5._id%>" class="text-decoration-none">
			<div class="card card-border2 shadow-lg">
				<div class="card-body card-border2 p-0 bg-dark">
					<img
						src="<%= randElsewhere5.image[0].url%>"
						class="card-img card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere5.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand5Ratings[0].ratingsTotal/rand5Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand5Ratings[0].ratingsTotal/rand5Ratings[0].numRatings%></strong
							>
							(<%=rand5Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere5.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<!-- rand6 -->

	<div class="mt-4 col-md-4">
		<a href="/elsewhere/<%= randElsewhere6._id%>" class="text-decoration-none">
			<div class="card card-border2 shadow-lg">
				<div class="card-body card-border2 p-0 bg-dark">
					<img
						src="<%= randElsewhere6.image[0].url%>"
						class="card-img card-img-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between px-4">
						<h5 class="text-mid mt-3 mb-0">
							<strong><%= randElsewhere6.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand6Ratings[0].ratingsTotal/rand6Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand6Ratings[0].ratingsTotal/rand6Ratings[0].numRatings%></strong
							>
							(<%=rand6Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid px-4 pb-3">
						<strong><%= randElsewhere6.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
</div>
