<% layout('layout/template')%>
<div class="py-4">
	<h1 class="text-mid-dark">View <strong>Adventures</strong></h1>
</div>

<div
	id="carouselControl"
	class="carousel carousel-dark slide col-md-12 row mb-3 default"
	data-bs-ride="carousel"
>
	<div class="carousel-inner default">
		<% elsewhereAtIdxZero.forEach((info, index) => { %>
		<div
			class="carousel-item <%= index === 0 ? 'active' : ''%>"
			data-bs-interval="10000"
		>
			<a
				href="/elsewhere/<%= info.elsewhere._id%>"
				class="d-flex text-decoration-none"
			>
				<div class="col-md-8 row default">
					<img
						src="<%= info.image%>"
						style="height: 40vh"
						class="d-block w-100 mobile-height default"
						alt="images"
					/>
				</div>
				<div
					class="col-md-4 row d-block w-95 overflow-auto mobile-hide default text-margin bg-dark"
					style="height: 40vh"
				>
					<h3 class="text-mid mobile-hide mt-4">
						<strong><%= info.elsewhere.title%></strong>
					</h3>
					<h5 class="text-mid mobile-hide">
						<strong><%= info.elsewhere.location%></strong>
					</h5>
					<h5 class="text-mid mobile-hide"><%= info.elsewhere.description%></h5>
				</div>
			</a>
		</div>
		<% }) %>
	</div>

	<% if(elsewhereAtIdxZero.length > 1) {%>
	<a
		class="carousel-control-prev default"
		href="#carouselControl"
		role="button"
		data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Prev</span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselControl"
		role="button"
		data-bs-slide="next"
		id="next-arrow"
	>
		<span class="carousel-control-next-icon default" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
	<% } %>
</div>

<!-- Random Adventures -->
<div class="row">
	<div class="col-md-4 mt-4 pe-1">
		<a href="/elsewhere/<%= randElsewhere1._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere1.image[0].url%>"
						style="height: 20vh"
						class="w-100 card-img-top default mobile-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between">
						<h5 class="text-mid mt-3 mb-0 ps-3">
							<strong><%= randElsewhere1.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0 pe-3">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand1Ratings[0].ratingsTotal/rand1Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand1Ratings[0].ratingsTotal/rand1Ratings[0].numRatings%></strong
							>
							(<%=rand1Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid ps-3 pb-3">
						<strong><%= randElsewhere1.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-4 mt-4 pe-1">
		<a href="/elsewhere/<%= randElsewhere2._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere2.image[0].url%>"
						style="height: 20vh"
						class="w-100 card-img-top default mobile-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between">
						<h5 class="text-mid mt-3 mb-0 ps-3">
							<strong><%= randElsewhere2.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0 pe-3">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand2Ratings[0].ratingsTotal/rand2Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand2Ratings[0].ratingsTotal/rand2Ratings[0].numRatings%></strong
							>
							(<%=rand2Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid ps-3 pb-3">
						<strong><%= randElsewhere2.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-4 mt-4 mb-5">
		<a href="/elsewhere/<%= randElsewhere3._id%>" class="text-decoration-none">
			<div class="card card-border shadow-lg mb-5">
				<div class="card-body card-border p-0 bg-dark">
					<img
						src="<%= randElsewhere3.image[0].url%>"
						style="height: 20vh"
						class="w-100 card-img-top default mobile-height"
						alt="image"
					/>
					<div class="d-flex justify-content-between">
						<h5 class="text-mid mt-3 mb-0 ps-3">
							<strong><%= randElsewhere3.title%></strong>
						</h5>

						<h5 class="text-mid mt-3 mb-0 pe-3">
							<i class="far fa-star"></i>
							<%if
							(isNaN(rand3Ratings[0].ratingsTotal/rand3Ratings[0].numRatings))
							{%>
							<strong>0</strong>(0) <%} else {%>
							<strong>
								<%=rand3Ratings[0].ratingsTotal/rand3Ratings[0].numRatings%></strong
							>
							(<%=rand3Ratings[0].numRatings%>) <%}%>
						</h5>
					</div>
					<p class="text-mid ps-3 pb-3">
						<strong><%= randElsewhere3.location%></strong>
					</p>
				</div>
			</div>
		</a>
	</div>
</div>
