<% layout('layout/template')%>
<h1 class="py-4">future <strong>Adventures</strong></h1>

<div
	id="carouselControl"
	class="carousel carousel-dark slide"
	data-ride="carousel"
>
	<div class="carousel-inner">
		<% elsewhereAtIdxZero.forEach((info, index) => { %>
		<div
			class="carousel-item <%= index === 0 ? 'active' : ''%>"
			data-bs-interval="5000"
		>
			<a href="/elsewhere/<%= info.elsewhere._id%>">
				<img
					src="<%= info.image%>"
					style="height: 70vh"
					class="d-block w-100"
					alt="images"
				/>
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h2><strong><%= info.elsewhere.title%></strong></h2>
				<h5><strong><%= info.elsewhere.location%></strong></h5>
			</div>
		</div>
		<% }) %>
	</div>
	<% if(elsewhereAtIdxZero.length > 1) {%>
	<a
		class="carousel-control-prev"
		href="#carouselControl"
		role="button"
		data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Prev</span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselControl"
		role="button"
		data-bs-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</a>
	<% } %>
</div>
