<% layout('layout/template')%>
<link rel="stylesheet" href="/stylesheet/rating.css" />

<div class="col-6">
	<div class="card mb-3">
		<div id="map" style="height: 300px"></div>

		<div
			id="carouselControl"
			class="carousel carousel-dark slide"
			data-ride="carousel"
		>
			<div class="carousel-inner">
				<% elsewhere.image.forEach((image, index) => { %>
				<div
					class="carousel-item <%= index === 0 ? 'active' : ''%>"
					data-bs-interval="5000"
				>
					<img
						src="<%= image.url%>"
						style="height: 300px"
						class="d-block w-100"
						alt="images"
					/>
				</div>
				<% }) %>
			</div>
			<% if(elsewhere.image.length > 1) {%>
			<a
				class="carousel-control-prev"
				href="#carouselControl"
				role="button"
				data-bs-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Prev</span>
			</a>
			<a
				class="carousel-control-next"
				href="#carouselControl"
				role="button"
				data-bs-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
			<% } %>
		</div>

		<div class="card-body">
			<h5 class="card-title"><%= elsewhere.title %></h5>
			<p class="card-text"><%= elsewhere.description%></p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item text-muted"><%= elsewhere.location %></li>
			<li class="list-group-item text-muted">
				Curated by <%= elsewhere.author[0].username%>
			</li>
		</ul>

		<% if(currentUser && elsewhere.author[0].id !== currentUser &&
		elsewhere.rating.every(rating => rating.patron !== username) ||
		!elsewhere.rating.length) {%>
		<div class="col-6">
			<h5>Rate this adventure</h5>
			<form
				action="/elsewhere/<%=elsewhere.id%>/rating"
				method="POST"
				class="mb-3 needs-validation"
				novalidate
			>
				<%#Source: https://github.com/LunarLogic/starability%>
				<fieldset class="starability-basic">
					<input
						type="radio"
						id="no-rate"
						class="input-no-rate"
						name="rating[star]"
						value="1"
						checked
						aria-label="No rating."
					/>
					<input
						type="radio"
						id="first-rate1"
						name="rating[star]"
						value="1"
						checked
					/>
					<label for="first-rate1" title="Hmm">1 star</label>
					<input type="radio" id="first-rate2" name="rating[star]" value="2" />
					<label for="first-rate2" title="Meh">2 stars</label>
					<input type="radio" id="first-rate3" name="rating[star]" value="3" />
					<label for="first-rate3" title="Ahh">3 stars</label>
					<input type="radio" id="first-rate4" name="rating[star]" value="4" />
					<label for="first-rate4" title="Ooh">4 stars</label>
					<input type="radio" id="first-rate5" name="rating[star]" value="5" />
					<label for="first-rate5" title="Oof">5 stars</label>
				</fieldset>

				<div class="mb-3">
					<label class="form-label" for="comment">Comment</label>
					<textarea
						class="form-control"
						name="rating[comment]"
						id="comment"
						cols="30"
						rows="3"
						required
					></textarea>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<button class="btn btn-success">Submit</button>
			</form>
		</div>
		<% } %> <% if(currentUser && elsewhere.author[0].id === currentUser) {%>
		<div class="col-6">
			<div class="card-body">
				<a
					class="card-link btn btn-info"
					href="/elsewhere/<%=elsewhere._id%>/edit"
					>Edit</a
				>
				<form
					class="d-inline"
					action="/elsewhere/<%=elsewhere.id%>?_method=DELETE"
					method="POST"
				>
					<button class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
		<% } %> <% for(let rating of elsewhere.rating) { %>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title">
					<%=rating.patron%> ~
					<span class="card-text text-muted"><%= rating.comment %></span>
				</h5>
				<p class="starability-result" data-rating="<%=rating.star%>"></p>
			</div>
		</div>
		<% } %>
	</div>
</div>

<script>
	const mbxToken = '<%-process.env.MAPBOX_TOKEN%>';
	const elsewhere = <%-JSON.stringify(elsewhere)%>
</script>

<script src="/javascript/map-box.js"></script>
